.JobList{
  width:100%;
  /*max-height: 500px;*/
  overflow-y: scroll;
  /*border: .5px solid #ccc;*/
  padding: 0px;
  border: none;
  margin: 0 auto;
  display: inline-block;
}

.JobList::-webkit-scrollbar { 
  display: none; 
}

.listTitle{
  text-align: center;
  background-color: white;
  display: inline;
  padding-left: 24px;
}

.no-results{
  margin: 20px;
  color: #777;
  font-style: italic;
}

/*LOADGIN SPINNER*/
.lds-ring {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px 170px;
  width: 90px;
  height: 90px;
  color: #ccc;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 6px;
  border: 8px solid #ccc;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ccc transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 610px){
  .JobList{
    margin-top: 5px;
    width: 100%;
  }
}
